*{
    margin: 0;
    padding: 0;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    min-height: 100vh;
}

.cadre{
    transition: 0.3s transform;
    cursor: pointer;
}.cadre:hover{
    transform: scale(1.15);
}

.v{
    color: green;
}

.bg{
    background-color: black;
    color: white;
}